@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.contaner{
    width: 100vw;
    height: 87vh;
    display: flex;
    flex-wrap: wrap;
}

.img{
    height: 100vh;
    background: url(../img/img.png)
    center center/cover;
    flex: 0 1 53vw;
    position: relative;
}

.content{
    flex: 0 0 47vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.big-bird{
    width: 16rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    fill: #fff;
}

.small-bird{
    width: 3.5rem;
    fill: #1da1f2;
    margin-top: 10px;
    margin-left: 20px;
}
h1,h3{
    font-weight: 700;
    color: #0f1419;
    margin-left: 30px;
}

h1{
    font-size: 5vw;
}

h3{
    font-size: 3.2vw;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24rem;
    height: 3.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px;
}

._sginup{
    background-color: #1da1f2;
    color: white;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}

._login{
    transition: all 0.2s ease;
}

._sginup:hover{
    background-color: #1f94dd;
}

._login:hover{
    background-color: #ececec;
}

._login{
    border: #1da1f2 1px solid;
    color: #1da1f2;
}

.footer{
    padding: 2rem ;
}

.footer nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer nav a,
.footer nav div{
    text-decoration: none;
    color: #536471;
    margin: .5rem;
    font-size: 13px;
}
.footer nav a:hover {
    text-decoration: underline #536471;
}